.explore-section,
.notification-section,
.messages-section,
.lists-section,
.bookmarks-section,
.twitter-blue-section
{
    height: fit-content;
}

.explore-title,
.notification-title,
.messages-title,
.lists-title,
.bookmarks-title,
.twitter-blue-title 
{
    padding: 10px;
    border: 1px solid #ccc;
}

.bookmarks-username{
    color: #536471;
    font-size: 15px;
}
.bookmarks-content{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bookmarks-image{
    width: 350px;
}
.bookmarks-description-content{
    width: 375px;
}


.messages-content{
    gap: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.messages-description-content{
    width: 400px;
}
.message-button{
    cursor: pointer;
    color: #fff;
    padding: 15px;
    background-color: #1d9bf0;
    border-radius: 27px;
    border: 2px solid black;
}
.message-button:hover{
    background-color: #0c8de4;
}

/* UserProfile CSS */
.user-profile{
    display: flex;
    flex-direction: column;
}
.user-profile-info{
    height: fit-content;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
}
.user-profile-picture img{
    height: 71px;
    border-radius: 50%;
    border: 3px solid #1d9bf0;
}
.user-name-info{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-name-info h3 {
    font-size: 21px
}
.user-name-info span {
    font-size: 14px;
}