.explore-section,
.notification-section,
.messages-section,
.lists-section,
.bookmarks-section,
.twitter-blue-section
{
    height: fit-content;
}

.explore-title,
.notification-title,
.messages-title,
.lists-title,
.bookmarks-title,
.twitter-blue-title 
{
    padding: 10px;
    border: 1px solid #ccc;
}

.bookmarks-username{
    color: #536471;
    font-size: 15px;
}
.bookmarks-content{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bookmarks-image{
    width: 350px;
}
.bookmarks-description-content{
    width: 375px;
}

