@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200;300;400;500&family=Roboto:wght@100;300;400&display=swap');

:root {
  --text-font: 'Poppins', sans-serif;
}

* {
  font-family: var(--text-font);
  height: 100%;
  margin: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

.app {
  display: flex;
}

/* MainContents CSS */
.mainContents {
  overflow-y: scroll;
  flex: 3.5;
  border-top: 1px solid #ccc;
}

.mainContents::-webkit-scrollbar {
  display: none;
}

/* Trends CSS */
.trends {
  flex: 3;
}

/* Sidebar CSS */
.sidebar {
  /* outline-color: red;
  outline-style: dashed; */
  overflow-y: hidden;
  padding: 0 15px;
  border: 1px solid #ccc;
  height: 100%;
  display: flex;
  align-content: space-between;
  flex: 2;
}

.sidebarLeft {
  flex: 1;
}

.sidebarRight {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.appIcon {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
}

.options {
  /* outline-color: red;
  outline-style: dashed; */
  padding: 10px;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.optionList {
  cursor: pointer;
  font-size: 25px;
  padding: 10px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 25px;
  flex: 1;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.optionList:hover {
  padding-left: 10px;
  padding-right: 25px;
  width: fit-content;
  border-radius: 29px;
  background-color: #f3f1f1;
}

.optionList-button {
  font-size: 25px;
  padding: 10px;
  width: 80%;
  padding-left: 10px;
  padding-right: 25px;
  flex: 1;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.tweet-button {
  cursor: pointer;
  padding: 9px;
  font-size: 20px;
  width: 100%;
  background-color: #1d9bf0;
  border: none;
  color: #fff;
  border-radius: 29px;
}

.tweet-button:hover {
  background-color: #0c8de4;
}

.appIcon {
  font-size: 30px;
  border-radius: 50%;
  padding: 4px 10px;
}

.appIcon:hover {
  width: fit-content;
  border-radius: 50%;
  padding: 4px 10px;
}

.optionName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Sidebar User Profile */
.sidebar-user-profile {
  display: flex;
  width: fit-content;
  gap: 3px;
  padding-left: 4px;
  padding-right: 12px;
}

.sidebar-profile-pic {
  padding: 4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sidebar-usser-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-user-name {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
}

.sidebar-username {
  display: flex;
  align-items: flex-start;
  font-size: 12px;
}

/* Home CSS */
.home {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

/* HomeTitle CSS */
.homeTitle {
  padding: 10px;
  border: 1px solid #ccc;
}

/* UserTweet CSS */
.user-tweet {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.tweetArea {
  display: flex;
}

.userPic {
  padding: 3px;
}

.userPic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.write-tweet-text {
  width: 100%;
  padding: 0 10px;
}

textarea {
  width: -webkit-fill-available;
  height: 90px;
  overflow-y: scroll;
  resize: none;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea:focus {
  outline: none;
}

.home-tweet-button {
  padding-bottom: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tweetButton {
  border-radius: 25px;
  color: #fff;
  background-color: #8ecdf7;
  border: none;
  cursor: pointer;
  padding: 9px;
  font-size: 15px;
  width: 20%;
}

.tweetButton:hover {
  background-color: #80b8de;
}

/* Tweets CSS */
.tweet {
  cursor: pointer;
  border: 1px solid #ccc;
  height: fit-content;
  display: flex;
  padding: 8px;
  gap: 5px;
}

.tweet:hover {
  background-color: #f3f1f1;
}

.profile-pic {
  padding: 4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Tweet Content CSS */
.tweet-content {
  width: 100%;
}

/* Tweet Header CSS */
.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.header-user-info {
  display: flex;
  gap: 5px;
}

.user-name {
  font-size: 16px;
}

.user-name:hover {
  text-decoration: underline;
}

.user-handle {
  font-size: 14px;
  color: #8e99a1;
}

.header-more {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-more:hover {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #8ecdf7;
}

/* Tweet Body CSS */
.tweet-body {
  padding-right: 15px;
}

.tweet-text {
  margin-bottom: 10px;
}

.tweet-image {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 18px;
}

/* Footer CSS */
.footer {
  width: 80%;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.footer-icons {
  display: flex;
}

.footer-icons:hover {
  color: #8e99a1;
}


/* Trends CSS */
.trends{
  overflow: hidden;
  display: flex;
}
.trends-left{
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trends-right{
  flex: 1;
}
.trends-search-icon{
  font-size: 25px;
}
.search-bar{
  height: fit-content;
  padding: 10px 10px;
  background-color: #eff3f4;
  border-radius: 24px;
  width: 320px;
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.search-bar::after{
  border: 1px solid black;
}
input{
  background-color: #eff3f4;
  width: 240px;
  border: none;
}
input:focus{
  outline: none;
}