@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200;300;400;500&family=Roboto:wght@100;300;400&display=swap');

:root {
  --text-font: 'Poppins', sans-serif;
}

* {
  font-family: var(--text-font);
  height: 100%;
  margin: 0px;
}
a{
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
a:hover{
  height: fit-content;
}
body::-webkit-scrollbar {
  display: none;
}

.app {
  display: flex;
}

.loading-triangle {
  display: flex;
  justify-content: center;
  height: 480px;
}

.loading-triangle-singletweet {
  display: flex;
  justify-content: center;
  height: 80px;
}

.loading-comment {
  display: flex;
  justify-content: center;
  height: 50px;
}

/* MainContents CSS */
.mainContents {
  overflow-y: scroll;
  flex: 3.5;
  border-top: 1px solid #ccc;
}

/* .mainContents::-webkit-scrollbar {
  display: none;
} */

/* Trends CSS */
.trends {
  flex: 3;
}

/* Sidebar CSS */
.sidebar {
  /* outline-color: red;
  outline-style: dashed; */
  overflow-y: hidden;
  padding: 0 15px;
  border: 1px solid #ccc;
  height: 100%;
  display: flex;
  align-content: space-between;
  flex: 2;
}

.sidebarLeft {
  flex: 1;
}

.sidebarRight {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.appIcon {
  color: #1d9bf0;
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
}

.options {
  /* outline-color: red;
  outline-style: dashed; */
  padding: 10px;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.optionList {
  height: fit-content;
  cursor: pointer;
  font-size: 25px;
  padding: 8px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 25px;
  flex: 1;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.optionList .icon{
  height: 100%;
  display: flex;
}
.optionList:hover {
  padding-left: 10px;
  padding-right: 25px;
  width: fit-content;
  border-radius: 29px;
  background-color: #f3f1f1;
}

.optionList-button {
  font-size: 25px;
  padding: 10px;
  width: 80%;
  padding-left: 10px;
  padding-right: 25px;
  flex: 1;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.tweet-button {
  cursor: pointer;
  padding: 9px;
  height: fit-content;
  font-size: 20px;
  width: 100%;
  background-color: #1d9bf0;
  border: none;
  color: #fff;
  border-radius: 29px;
}

.tweet-button:hover {
  background-color: #0c8de4;
}

.appIcon {
  font-size: 30px;
  border-radius: 50%;
  padding: 4px 10px;
}

.appIcon:hover {
  width: fit-content;
  border-radius: 50%;
  padding: 4px 10px;
}

.optionName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Sidebar User Profile */
.sidebar-user-profile {
  display: flex;
  width: fit-content;
  gap: 3px;
  padding-left: 4px;
  padding-right: 12px;
}

.sidebar-profile-pic {
  padding: 4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sidebar-usser-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-user-name {
  display: flex;
  align-items: flex-end;
  font-size: 15px;
}

.sidebar-username {
  display: flex;
  align-items: flex-start;
  font-size: 12px;
}

/* Home CSS */
.home {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

/* HomeTitle CSS */
.homeTitle {
  padding: 10px;
  border: 1px solid #ccc;
}

/* UserTweet CSS */
.user-tweet {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.tweetArea {
  display: flex;
}

.userPic {
  padding: 3px;
}

.userPic img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.write-tweet-text {
  width: 100%;
  padding: 0 10px;
}

textarea {
  width: -webkit-fill-available;
  height: 90px;
  overflow-y: scroll;
  resize: none;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea:focus {
  outline: none;
}

.home-tweet-button {
  padding-bottom: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tweetButton {
  border-radius: 25px;
  color: #fff;
  background-color: #8ecdf7;
  border: none;
  cursor: pointer;
  padding: 9px;
  font-size: 15px;
  width: 20%;
}

.tweetButton:hover {
  background-color: #80b8de;
}

/* Tweets CSS */
.tweet {
  cursor: pointer;
  border: 1px solid #ccc;
  height: fit-content;
  display: flex;
  padding: 8px;
  gap: 5px;
}

.tweet:hover {
  background-color: #f3f1f1;
}

.profile-pic {
  padding: 4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Tweet Content CSS */
.tweet-content {
  width: 100%;
}

/* Tweet Header CSS */
.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.header-user-info {
  display: flex;
  gap: 5px;
}

.user-name {
  font-size: 16px;
}

.user-name:hover {
  text-decoration: underline;
}

.user-handle {
  font-size: 14px;
  color: #8e99a1;
}

.header-more {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-more:hover {
  border-radius: 50%;
  background-color: #8ecdf7;
}

/* Tweet Body CSS */
.tweet-body {
  padding-right: 15px;
}

.tweet-text {
  margin-bottom: 10px;
}

.tweet-image {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 18px;
}

/* Footer CSS */
.footer {
  width: 80%;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.footer-icons {
  display: flex;
  padding: 8px;
  border-radius: 50%;
}
.footer-comment:hover,
.footer-interactions:hover,
.footer-share:hover{
  color: #1d9bf0;
  background-color: #c1e0f5;
}
.footer-retweet:hover{
  color: #00ba7c;
  background-color: #bdeddd;
}
.footer-react:hover{
  color: #f91880;
  background-color: #fdc1dd;
}


/* Trends CSS */
.trends {
  overflow: hidden;
  display: flex;
  border: 1px solid #ccc;
}

.trends-left {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trends-right {
  flex: 1;
}

.trends-search-icon {
  font-size: 25px;
}

.search-bar {
  height: fit-content;
  padding: 10px 10px;
  background-color: #eff3f4;
  border-radius: 24px;
  width: 320px;
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.search-bar::after {
  border: 1px solid black;
}

input {
  background-color: #eff3f4;
  width: 240px;
  border: none;
}

input:focus {
  outline: none;
}

.trend-list {
  background-color: #eff3f4;
  border-radius: 24px;
  margin-top: 15px;
  width: 320px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.trends-for-you {
  padding: 10px;
  display: flex;
  align-items: center;
}

.trending {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.trending-card {
  cursor: pointer;
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
}

.trending-card:hover {
  background-color: #ccc;
}

.trend-details {
  display: flex;
  flex-direction: column;
}

.trending-title,
.total-trend-tweets {
  color: #8b979f;
  font-size: 12px;
}

.trending-content {
  font-size: 15px;
  font-weight: 500;
}

.trend-more-option {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  border-radius: 50%;
}

.trend-more-option:hover {
  background-color: #8ecdf7;
}

.show-more {
  cursor: pointer;
  padding: 12px;
  color: #1d9bf0;
}

.show-more:hover {
  text-decoration: underline;
}


/* Comment Box CSS */
.comment-box {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.add-comment {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.comment-area {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px;
  border-bottom: 1px solid #ccc;
}

.comment-userPic {
  padding: 3px;
}

.comment-userPic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-textarea {
  height: 80px;
  border-bottom: 1px solid #ccc;
  padding: 6px;
  padding-right: 20px;
  font-size: 20px;
}

.comment-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 6px;
}

.commentButton {
  border-radius: 25px;
  color: #fff;
  background-color: #8ecdf7;
  border: none;
  cursor: pointer;
  padding: 9px;
  font-size: 15px;
  width: 20%;
}

.commentButton:hover {
  background-color: #80b8de;
}

/* ALL Comment CSS */
.show-all-comments {
  display: flex;
  flex-direction: column-reverse;
}

.all-comments {
  cursor: pointer;
  display: flex;
  gap: 5px;
  padding: 5px;
  border: 1px solid #ccc;
}

.all-comments:hover {
  background-color: #f3f1f1;
}

.comment-contents {
  width: 100%;
  cursor: pointer;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 5px;
}

.comment {
  padding-right: 10px;
  padding-bottom: 8px;
}

/* SingleTweet Header CSS */
.single-tweet-header {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 60px;
  border: 1px solid #ccc;
  padding: 0px 10px;
}

.single-tweet-header-icon {
  cursor: pointer;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.single-tweet-header-icon:hover {
  background-color: #f3f1f1;
}

.single-tweet-title {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
}